html,
body,
ul,
ol,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  padding: 2rem 9vw 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
}

.header-logo {
  max-width: 80px;
  height: auto;
}

.header-logo-wrap {
  z-index: 3;
  transform: translateY(2rem);
  position: relative;
}

.nav {
  display: flex;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav ul li {
  display: block;
}
.nav ul li:not(:last-of-type) {
  margin-right: 1rem;
}
.nav ul li a {
  padding: 0.25rem 0.5rem;
  color: rgb(250, 73, 42);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
.nav ul li a:hover {
  color: white;
  background: rgb(250, 73, 42);
}

.nav-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 9vw;
    height: 5rem;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: white;
    z-index: 99;
    transition: right 0.2s ease-in-out;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav ul li:not(:last-of-type) {
    margin-right: 0;
  }
  .nav ul li a {
    display: block;
    padding: 1rem;
  }

  .nav-open {
    right: 0;
  }

  .header {
    position: relative;
  }

  .nav-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4rem;
    font-size: 1.5rem;
    background: rgb(250, 73, 42);
    color: white;
    border: none;
    cursor: pointer;
  }
  .nav-button:hover {
    background: rgba(250, 73, 42, 0.9);
  }
}
.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: url("./images/bg.png");
  background-repeat: repeat;
  opacity: 0.03;
  background-size: 100px;
  z-index: -1;
}

body {
  overflow-x: hidden;
}

.btn {
  transition: all 0.2s ease;
  background: none;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 0rem 0.4rem;
}
.btn:hover {
  letter-spacing: 1px;
}
.btn-white {
  color: white;
  border-bottom: 1px solid white;
}
.btn-white a {
  color: white;
}
.btn-white:hover {
  background: white;
  color: rgb(250, 73, 42);
}
.btn-white:hover a {
  color: rgb(250, 73, 42);
}
.btn-red {
  color: rgb(250, 73, 42);
  border-bottom: 1px solid rgb(250, 73, 42);
}
.btn-red a {
  color: rgb(250, 73, 42);
}
.btn-red:hover {
  background: rgb(250, 73, 42);
  color: white;
}
.btn-red:hover a {
  color: white;
}
.btn-simple {
  border-bottom: none;
  margin: 0 0.5rem 0 0;
}

.grid-2-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
.grid-2-1 {
  grid-area: 1/1/2/2;
}
.grid-2-2 {
  grid-area: 1/1/2/2;
}
.grid-2-mobile-separate {
  grid-area: 2/1/3/2;
}

.map {
  height: 35vh;
}

.panel {
  position: relative;
  align-items: center;
  min-height: 70vh;
  margin: 1rem 0;
}
.panel__text {
  padding: 9vw;
  position: relative;
  background: rgba(250, 73, 42, 0.9);
  z-index: 2;
}
.panel__text h1 {
  color: white;
}
.panel__text p {
  color: white;
}
.panel__text .btn {
  margin-top: 1.5rem;
}
.panel__img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.panel__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid orange;
}
.panel__img::after {
  content: " ";
  position: absolute;
  width: 96%;
  height: 96%;
  top: 2%;
  left: 2%;
  z-index: 2;
  border: 1px solid rgba(255, 166, 0, 0.486);
  user-select: none;
  pointer-events: none;
}

.map {
  z-index: 100 !important;
  position: relative;
}

h1,
h2 {
  font-family: Georgia, serif;
}

p,
h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a,
button {
  text-transform: uppercase;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.word-break {
  word-spacing: 3000px;
}

.frontpage {
  position: relative;
}
.frontpage__img {
  height: calc(100vh - 5rem);
  background: url("./images/noodle_bowl.jpg");
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: cover;
}
.frontpage .menu-img {
  background: url("./images/padthai.png");
}
.frontpage .location-img {
  background: url("./images/thaiChefs.jpg");
  background-position: 100%;
}
.frontpage .fold-img {
  height: 40vh;
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
}
.frontpage__txt {
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(255, 51, 0, 0), 35%, rgb(250, 73, 42) 100%);
  color: white;
  padding: 5rem 10% 2rem;
  line-height: 0.8;
  font-size: 1.5rem;
  user-select: none;
}

.red-slant {
  display: none;
}

@media only screen and (min-width: 600px) {
  .red-slant {
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 87vw;
  }

  .frontpage__img {
    background-position: 15vw;
    background-size: cover;
    height: 70vh;
  }
  .frontpage__txt {
    width: 50vw;
    height: 100%;
    background: none;
    display: flex;
    padding: 0;
  }
  .frontpage__txt__content {
    margin: 0 auto;
    align-self: center;
    position: absolute;
    padding-left: 9vw;
  }
  .frontpage__txt__content h1 {
    font-size: 6vw;
  }
}
.menu-container {
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 1200px;
}
.menu-category {
  padding: 2rem;
  padding-bottom: 0;
}
.menu-category h2 {
  background: rgb(250, 73, 42);
  color: white;
  padding: 0.3rem;
  font-size: 2rem;
  display: inline-block;
  margin: 0 0 0.5rem 0;
}
.menu-category h3 {
  font-size: 1.3rem;
}
.menu-category p {
  margin-bottom: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}
.menu-list {
  padding: 0.3rem 9vw;
}

.fold-img__txt {
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(45deg, rgba(250, 113, 72, 0.911) 30%, rgba(165, 165, 165, 0));
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
}
.fold-img__txt h1 {
  align-self: end;
  padding-left: 9vw;
  margin: 0;
  font-size: 10vw;
}

@media only screen and (min-width: 600px) {
  .panel {
    height: 75vh;
    margin: 5rem 0;
  }
  .panel--sm {
    background: white;
    width: 120%;
    background: rgb(250, 73, 42);
  }
  .panel--lg {
    width: 58vw;
  }

  .grid-2-rev .panel--sm {
    right: 0;
  }

  .grid-2-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .grid-2-1 {
    grid-area: 1/1/2/2;
  }
  .grid-2-2 {
    grid-area: 1/2/2/3;
  }
  .grid-2-rev .grid-2-1 {
    grid-area: 1/2/2/3;
  }
  .grid-2-rev .grid-2-2 {
    grid-area: 1/1/2/2;
  }
  .grid-2-overlay {
    display: none;
  }

  .map {
    height: 100%;
    width: 100%;
  }

  .panel-left {
    left: 10%;
    box-shadow: -14px 10px 2px -5px rgba(71, 50, 44, 0.233);
  }

  .panel-right {
    left: -30% !important;
    box-shadow: 14px 10px 2px -5px rgba(71, 50, 44, 0.233);
  }

  .contact-panel {
    background: rgb(250, 73, 42);
  }
  .contact-panel a {
    color: white;
  }

  .bg-red {
    background: rgb(250, 73, 42);
    border: 1px solid white;
  }

  .bg-white {
    background: rgba(255, 255, 255, 0.8);
  }
}
footer {
  background: rgb(250, 73, 42);
  padding: 4.5vw 9vw 4.5vw 9vw;
  color: white;
}
footer span {
  margin: 20px 0 0 0;
  display: block;
}

.socialMediaMenu {
  text-align: center;
}

.socialMediaMenu img {
  cursor: pointer;
  height: 40px;
  margin: 0 10px 0;
  transition: 0.25s;
}
.socialMediaMenu img:hover {
  filter: brightness(0);
}

@media only screen and (min-width: 600px) {
  .socialMediaMenu {
    float: right;
  }

  footer ul {
    display: flex;
  }

  footer span {
    text-align: left;
    margin-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
