body {
  overflow-x: hidden;
  background: url('./images/bg.png');
  background-repeat: repeat;
  background-size: 100px;
}

.btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  border: none;
  display: inline-block;
  transition: color $transition, background $transition;
  cursor: pointer;
  &.btn-red {
    color: $red;
    background: none;
    &:hover {
      color: white;
      background: $red;
    }
  }
  &.btn-white {
    color: white;
    &:hover {
      background: white;
      color: $red;
    }
  }
  &.btn-submit {
    background: $red;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    &:hover {
      background: $redFaded;
    }
  }
}

.row {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  position: relative;
  max-width: 1300px;
  margin: 4rem auto;
  .row-text {
    color: white;
    background: $red;
    padding: 4rem clamp(1rem, 5vw, 6rem);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    border: 2px solid white;
    box-shadow: -14px 14px 2px -5px rgba(0, 0, 0, 0.315);
    .btn {
      margin-top: 1rem;
    }
    a {
      color: white;
    }
  }
  .row-image {
    width: 70%;
    overflow: hidden;
    border: 1px solid orange;
    position: relative;
    max-height: 70vh;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    &::after {
      position: absolute;
      content: '';
      top: 0.5rem;
      left: 0.5rem;
      width: calc(100% - 1rem);
      height: calc(100% - 1rem);
      border: 1px solid orange;
    }
  }
  &.row--reverse {
    justify-content: flex-start;
    .row-text {
      right: 0;
      left: unset;
    }
  }
}

@media screen and (max-width: 750px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .row-text {
      position: absolute;
      width: 100%;
      top: 50%;
      padding: 3rem;
      transform: translateY(-50%);
      border: none;
      box-shadow: none;
      background: $redFaded;
    }
    .row-image {
      width: 100%;
    }
  }
  .row--map {
    .row-text {
      position: unset;
      transform: unset;
    }
  }
}

.reservations {
  padding: 3rem $left-align;
}

.reservations-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  .input-wrap {
    width: 100%;
    margin: 1rem 0;
    label {
      font-size: 1.3rem;
    }
    input {
      font-size: 1.3rem;
      padding: 0.5rem;
      border: 1px solid $red;
      border-radius: 5px;
      width: 100%;
    }
  }
  .btn-submit {
    margin: 1rem 0 0;
  }
}

.page-image {
  height: 20rem;
  overflow: hidden;
  position: relative;
  .page-image-text {
    z-index: 1;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0), $red);
    width: 100%;
    height: 100%;
    display: flex;
    h1 {
      font-size: 3rem;
      color: white;
      position: absolute;
      bottom: 1rem;
      left: $left-align;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
  }
}
.menu-container {
  padding: 3rem $left-align;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  background: white;
  .menu-category {
    padding: 2rem 1rem;
    flex: 240px;
    h2 {
      font-size: 2rem;
      color: $red;
    }
  }
}
.menu-item {
  margin-bottom: 1rem;
}
