// FONTS
h1,
h2 {
  font-family: Georgia, serif;
}

p,
h3 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

a,
button {
  text-transform: uppercase;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.word-break {
  word-spacing: 3000px;
}
